<div ng-controller="DaftarPegawaiCtrl as $ctrl">
    <form>
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" class="form-control" id="nama" placeholder="nama" ng-model="$ctrl.pegawai.nama">
        </div>
        <div class="form-group">
            <label for="gelaran">Gelaran</label>
            <input type="text" class="form-control" id="gelaran" placeholder="gelaran" ng-model="$ctrl.pegawai.gelaran">
        </div>

        <div class="form-group">
            <label for="unit">Unit</label>
            <select class="form-control" id="unit"
                    ng-options="option.nama_unit for option in $ctrl.lookup_unit track by option.id"
                    ng-model="$ctrl.pegawai.unit"
            >
                <option value="">-Sila Pilih-</option>
            </select>
        </div>
        <br/>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.daftarPegawai()">Daftar</button>
    </form>

    <br/><br/>

    data JSON : {{$ctrl.pegawai | json}}

    <hr/>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Senarai Pegawai</div>
        <div class="panel-body no-padding">

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead class="bg-primary">
                <tr>
                    <th>Bil</th>
                    <th>Gelaran</th>
                    <th>Nama</th>
                    <th>Unit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pegawai in $ctrl.pegawaiList track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{pegawai.gelaran}}</td>
                    <td>{{pegawai.nama}}</td>
                    <td>{{pegawai.unit}}</td>
                </tr>
                <tr ng-show="$ctrl.pagingInfoObj.totalRow===0">
                    <td colspan="9" align="center">-Tiada Rekod Ditemui-</td>
                </tr>
                </tbody>

            </table>
            </div>
        </div>

    </div>


</div>